@import 'tailwindcss';

@theme {
  --color-dark-background: #181a1b;

  --font-karla: 'Karla', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

html,
body {
  @apply bg-dark-background text-white;
}

@font-face {
  font-family: Karla;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Karla-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: Karla;
  font-style: bold;
  font-weight: 700;
  src: url('/fonts/Karla-Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: Inter;
  font-style: bold;
  font-weight: 700;
  src: url('/fonts/Inter-Bold.woff2') format('woff2');
  font-display: swap;
}
